#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bg-violeta {
    background-color: #ECE6F3;
}

.bshadow {
    box-shadow: 0px 0px 10px #A6A6A6;
}

.text-1 {
    position: absolute;
    top: 55%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
}

.text-2 {
    position: absolute;
    top: 68%;
    color: white;
    left: 10px;
}



.selects-price {
    position: absolute;
    top: 83%;
    width: 100%;
}

.ml-4p {
    margin-left: 4px;
    font-size: 0.80rem;
}

.bg-primario {
    background-color: #674fa3;
}

#img-pantalla {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}